{% extends 'base.html' %}
{% block title %}Список статей{% endblock %}
{% block content %}
    <h1>Articles List</h1>
    <div>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ url_for('articles_app.details', articles_id=article.id) }}">{{ article.title }}</a>
                    by {{ article.author.user.username }}
                </li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{{ url_for('articles_app.create') }}">Create new</a>
    </div>
{% endblock %}